= form_for hotel_rooms_path(@hotel) do |f|
  .field
    = f.label :roomnumber
    %br/
    = f.text_field :roomnumber
  .field
    = f.label :roomtype
    %br/
    = f.text_area :roomtype
  .field
    = f.label :roomdescription
    %br/
    = f.text_area :roomdescription
  .field
    = f.label :hotelname
    
  .actions
    = f.submit