= form_for(@room) do |f|
  - if @room.errors.any?
    #error_explanation
      %h2
        = pluralize(@room.errors.count, "error")
        prohibited this room from being saved:
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label 'Room Number'
    %br/
    = f.text_field :roomnumber
  .field
    = f.label 'Room Type'
    %br/
    = f.text_field :roomtype
  .field
    = f.label 'Room Description'
    %br/
    = f.text_area :roomdescription
  .field
    = f.label 'Room Price'
    %br/
    = f.text_field :roomprice
  .field
    = f.label 'Hotel Name'
    %br/
    = f.text_field :hotelname     
  .actions
    = f.submit