= form_for(@hotel) do |f|
  - if @hotel.errors.any?
    #error_explanation
      %h2
        = pluralize(@hotel.errors.count, "error")
        prohibited this hotel from being saved:
      %ul
        - @hotel.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :hotelname, 'Hotel Name'
    %br/
    = f.text_field :hotelname
  .field
    = f.label :address, 'Address'
    %br/
    = f.text_area :address
  .field
    = f.label :website, 'Website'
    %br/
    = f.text_area :website
  .field
    = f.label :phone, 'Phone Number'
    %br/
    = f.text_area :phone
  .actions
    = f.submit